@import "./helpers"

body
    @include font-size(1rem)
    font-family: $font-text
    background-color: $c0
    color: $c5
    width: 100%
    overflow-x: hidden

:root
    font-size: 13px
    font-family: $font-text
    color: $c5
    @include defineColorHSL(--color, 0, 0%, 0%)

h1
    @include font-size(4rem)
    font-family: $font-display
    font-weight: normal

h2
    @include font-size(2.6rem)
    font-family: $font-display
    font-weight: normal

h3
    @include font-size(1.8rem)
    font-family: $font-display
    font-weight: normal

.column
    display: flex
    flex-direction: column
    @include rfs(0.5rem, gap)

b
    padding: 0rem 0.2em
    border-radius: 0.2rem
    font-weight: inherit
    background-color: alpha(var(--color), 0.5)
    color: $c0

.inverted b
    background-color: transparentize($c0, 0.5)
    color: var(--color)